<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="text-center divpadding all-hotels"><strong><a ui-sref="topHotels({category:'ALL Hotels - World'})">{{totalHotels}} Hotels | <span class='small'>https://h4lservices.restlet.net/v1/hotels</span></a></strong></div>
      <div class="text-center divpadding top-hotels"><strong><a ui-sref="topHotels({category:'Top Hotels - World'})">{{topHotelCount}}Top Hotels - World</a></strong></div>
      <div class="text-center divpadding top-small-hotels"><strong><a ui-sref="topHotels({category:'Top Small Hotels - World'})">{{topSmallHotelCount}}Top Small Hotels - World</a></strong></div>
      <div class="text-center divpadding top-luxury-hotels"><strong><a ui-sref="topHotels({category:'Top Luxury Hotels - World'})">{{topLuxuryHotelsCount}}Top Luxury Hotels - World</a></strong></div>
    </div>
  </div>
</div>